[submodule "frontend"]
	path = frontend
	url = https://github.com/Appanavenkatasaicharan/JournalPlus-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/Appanavenkatasaicharan/JournalPlus-backend
